<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:s="http://jboss.com/products/seam/taglib"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:BSF JSP Support="http://jakarta.apache.org/taglibs/"
      xmlns:mj="http://mojarra.dev.java.net/mojarra_ext"
      xmlns:richfaces="http://richfaces.ajax4jsf.org/rich"
      xmlns:ajax="https://ajax4jsf.dev.java.net/ajax">

	<ui:composition template="">

	</ui:composition>

</html>