<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="especiesSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Especies Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Nomeespecie</ui:define>
                <h:inputText id="nomeespecie" value="#{especiesList.especies.nomeespecie}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{especiesList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/EspeciesList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Especies Search Results (#{empty especiesList.resultList ? 0 : (especiesList.paginated ? especiesList.resultCount : especiesList.resultList.size)})</f:facet>
    <div class="results" id="especiesList">

    <h:outputText value="The especies search returned no results."
               rendered="#{empty especiesList.resultList}"/>

    <rich:dataTable id="especiesList"
                var="_especies"
              value="#{especiesList.resultList}"
           rendered="#{not empty especiesList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{especiesList}"/>
                    <ui:param name="propertyLabel" value="Codespecie"/>
                    <ui:param name="propertyPath" value="especies.codespecie"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_especies.codespecie}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{especiesList}"/>
                    <ui:param name="propertyLabel" value="Nomeespecie"/>
                    <ui:param name="propertyPath" value="especies.nomeespecie"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_especies.nomeespecie}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Especies' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="especiesViewId">
                <f:param name="especiesCodespecie"
                        value="#{_especies.codespecie}"/>
            </s:link>
            #{' '}
            <s:link view="/EspeciesEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="especiesEdit"
                rendered="#{empty from}">
                <f:param name="especiesCodespecie"
                        value="#{_especies.codespecie}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/EspeciesList.xhtml"
            rendered="#{especiesList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/EspeciesList.xhtml"
            rendered="#{especiesList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{especiesList.previousFirstResult}"/>
        </s:link>

        <s:link view="/EspeciesList.xhtml"
            rendered="#{especiesList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{especiesList.nextFirstResult}"/>
        </s:link>

        <s:link view="/EspeciesList.xhtml"
            rendered="#{especiesList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{especiesList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/EspeciesEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create especies">
            <f:param name="especiesCodespecie"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
