<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="exbiosanguineaSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Exbiosanguinea Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Obs</ui:define>
                <h:inputText id="obs" value="#{exbiosanguineaList.exbiosanguinea.obs}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{exbiosanguineaList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/ExbiosanguineaList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Exbiosanguinea Search Results (#{empty exbiosanguineaList.resultList ? 0 : (exbiosanguineaList.paginated ? exbiosanguineaList.resultCount : exbiosanguineaList.resultList.size)})</f:facet>
    <div class="results" id="exbiosanguineaList">

    <h:outputText value="The exbiosanguinea search returned no results."
               rendered="#{empty exbiosanguineaList.resultList}"/>

    <rich:dataTable id="exbiosanguineaList"
                var="_exbiosanguinea"
              value="#{exbiosanguineaList.resultList}"
           rendered="#{not empty exbiosanguineaList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Codbiosanguinea"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.codbiosanguinea"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.codbiosanguinea}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Ficha codficha"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.ficha.codficha"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.ficha.codficha}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Dtregistro"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.dtregistro"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.dtregistro}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Albumina"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.albumina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.albumina}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Proteina"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.proteina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.proteina}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Fibrinogenio"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.fibrinogenio"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.fibrinogenio}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Bilirtotal"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.bilirtotal"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.bilirtotal}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Bilirdireta"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.bilirdireta"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.bilirdireta}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Alt"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.alt"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.alt}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Ast"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.ast"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.ast}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Fosfalcalina"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.fosfalcalina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.fosfalcalina}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Ureia"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.ureia"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.ureia}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Creatinina"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.creatinina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.creatinina}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Glicemia"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.glicemia"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.glicemia}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Colesterol"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.colesterol"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.colesterol}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Obs"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.obs"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.obs}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Sodio"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.sodio"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.sodio}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{exbiosanguineaList}"/>
                    <ui:param name="propertyLabel" value="Potassio"/>
                    <ui:param name="propertyPath" value="exbiosanguinea.potassio"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_exbiosanguinea.potassio}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Exbiosanguinea' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="exbiosanguineaViewId">
                <f:param name="exbiosanguineaCodbiosanguinea"
                        value="#{_exbiosanguinea.codbiosanguinea}"/>
            </s:link>
            #{' '}
            <s:link view="/ExbiosanguineaEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="exbiosanguineaEdit"
                rendered="#{empty from}">
                <f:param name="exbiosanguineaCodbiosanguinea"
                        value="#{_exbiosanguinea.codbiosanguinea}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/ExbiosanguineaList.xhtml"
            rendered="#{exbiosanguineaList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/ExbiosanguineaList.xhtml"
            rendered="#{exbiosanguineaList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{exbiosanguineaList.previousFirstResult}"/>
        </s:link>

        <s:link view="/ExbiosanguineaList.xhtml"
            rendered="#{exbiosanguineaList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{exbiosanguineaList.nextFirstResult}"/>
        </s:link>

        <s:link view="/ExbiosanguineaList.xhtml"
            rendered="#{exbiosanguineaList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{exbiosanguineaList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/ExbiosanguineaEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create exbiosanguinea">
            <f:param name="exbiosanguineaCodbiosanguinea"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
