<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="exbiosanguinea" styleClass="edit">

        <rich:panel>
            <f:facet name="header">#{exbiosanguineaHome.managed ? 'Edit' : 'Add'} Exbiosanguinea</f:facet>


            <!-- <s:decorate id="codbiosanguineaField" template="layout/edit.xhtml">
                <ui:define name="label">Codbiosanguinea</ui:define>
                <h:inputText id="codbiosanguinea"
                       required="true"
                       disabled="#{exbiosanguineaHome.managed}"
                          value="#{exbiosanguineaHome.instance.codbiosanguinea}">
                    <a:support event="onblur" reRender="codbiosanguineaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate> -->



            <s:decorate id="dtregistroField" template="layout/edit.xhtml">
                <ui:define name="label">Dtregistro</ui:define>
                <rich:calendar id="dtregistro"
                          value="#{exbiosanguineaHome.instance.dtregistro}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="albuminaField" template="layout/edit.xhtml">
                <ui:define name="label">Albumina</ui:define>
                <h:inputText id="albumina"
                          value="#{exbiosanguineaHome.instance.albumina}">
                    <a:support event="onblur" reRender="albuminaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="proteinaField" template="layout/edit.xhtml">
                <ui:define name="label">Proteina</ui:define>
                <h:inputText id="proteina"
                          value="#{exbiosanguineaHome.instance.proteina}">
                    <a:support event="onblur" reRender="proteinaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="fibrinogenioField" template="layout/edit.xhtml">
                <ui:define name="label">Fibrinogenio</ui:define>
                <h:inputText id="fibrinogenio"
                          value="#{exbiosanguineaHome.instance.fibrinogenio}">
                    <a:support event="onblur" reRender="fibrinogenioField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="bilirtotalField" template="layout/edit.xhtml">
                <ui:define name="label">Bilirtotal</ui:define>
                <h:inputText id="bilirtotal"
                          value="#{exbiosanguineaHome.instance.bilirtotal}">
                    <a:support event="onblur" reRender="bilirtotalField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="bilirdiretaField" template="layout/edit.xhtml">
                <ui:define name="label">Bilirdireta</ui:define>
                <h:inputText id="bilirdireta"
                          value="#{exbiosanguineaHome.instance.bilirdireta}">
                    <a:support event="onblur" reRender="bilirdiretaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="altField" template="layout/edit.xhtml">
                <ui:define name="label">Alt</ui:define>
                <h:inputText id="alt"
                          value="#{exbiosanguineaHome.instance.alt}">
                    <a:support event="onblur" reRender="altField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="astField" template="layout/edit.xhtml">
                <ui:define name="label">Ast</ui:define>
                <h:inputText id="ast"
                          value="#{exbiosanguineaHome.instance.ast}">
                    <a:support event="onblur" reRender="astField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="fosfalcalinaField" template="layout/edit.xhtml">
                <ui:define name="label">Fosfalcalina</ui:define>
                <h:inputText id="fosfalcalina"
                          value="#{exbiosanguineaHome.instance.fosfalcalina}">
                    <a:support event="onblur" reRender="fosfalcalinaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="ureiaField" template="layout/edit.xhtml">
                <ui:define name="label">Ureia</ui:define>
                <h:inputText id="ureia"
                          value="#{exbiosanguineaHome.instance.ureia}">
                    <a:support event="onblur" reRender="ureiaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="creatininaField" template="layout/edit.xhtml">
                <ui:define name="label">Creatinina</ui:define>
                <h:inputText id="creatinina"
                          value="#{exbiosanguineaHome.instance.creatinina}">
                    <a:support event="onblur" reRender="creatininaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="glicemiaField" template="layout/edit.xhtml">
                <ui:define name="label">Glicemia</ui:define>
                <h:inputText id="glicemia"
                          value="#{exbiosanguineaHome.instance.glicemia}">
                    <a:support event="onblur" reRender="glicemiaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="colesterolField" template="layout/edit.xhtml">
                <ui:define name="label">Colesterol</ui:define>
                <h:inputText id="colesterol"
                          value="#{exbiosanguineaHome.instance.colesterol}">
                    <a:support event="onblur" reRender="colesterolField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="obsField" template="layout/edit.xhtml">
                <ui:define name="label">Obs</ui:define>
                <h:inputTextarea id="obs"
                               cols="80"
                               rows="3"
                              value="#{exbiosanguineaHome.instance.obs}"/>
            </s:decorate>


            <s:decorate id="sodioField" template="layout/edit.xhtml">
                <ui:define name="label">Sodio</ui:define>
                <h:inputText id="sodio"
                          value="#{exbiosanguineaHome.instance.sodio}">
                    <a:support event="onblur" reRender="sodioField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="potassioField" template="layout/edit.xhtml">
                <ui:define name="label">Potassio</ui:define>
                <h:inputText id="potassio"
                          value="#{exbiosanguineaHome.instance.potassio}">
                    <a:support event="onblur" reRender="potassioField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{exbiosanguineaHome.persist}"
                       disabled="#{!exbiosanguineaHome.wired}"
                       rendered="#{!exbiosanguineaHome.managed}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{exbiosanguineaHome.update}"
                       rendered="#{exbiosanguineaHome.managed}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{exbiosanguineaHome.remove}"
                      immediate="true"
                       rendered="#{exbiosanguineaHome.managed}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Exbiosanguinea.xhtml"
                rendered="#{exbiosanguineaHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty exbiosanguineaFrom ? 'ExbiosanguineaList' : exbiosanguineaFrom}.xhtml"
                rendered="#{!exbiosanguineaHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="Ficha *" labelClass="required">
    <div class="association" id="fichaParent">

        <h:outputText value="There is no ficha associated with this exbiosanguinea."
                   rendered="#{exbiosanguineaHome.instance.ficha == null}"/>

        <rich:dataTable var="_ficha"
                   value="#{exbiosanguineaHome.instance.ficha}"
                rendered="#{exbiosanguineaHome.instance.ficha != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="fichaTable">
            <h:column>
                <f:facet name="header">Codficha</f:facet>
                <h:outputText value="#{_ficha.codficha}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Animal codanimal</f:facet>
                <h:outputText value="#{_ficha.animal.codanimal}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Anamnese</f:facet>
                <h:outputText value="#{_ficha.anamnese}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtretorno</f:facet>
                <h:outputText value="#{_ficha.dtretorno}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Diagnostico</f:facet>
                <h:outputText value="#{_ficha.diagnostico}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtregistro</f:facet>
                <h:outputText value="#{_ficha.dtregistro}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Peso</f:facet>
                <h:outputText value="#{_ficha.peso}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Solicitados</f:facet>
                <h:outputText value="#{_ficha.solicitados}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Receituario</f:facet>
                <h:outputText value="#{_ficha.receituario}"/>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button id="#{exbiosanguineaHome.instance.ficha != null ? 'changeParent' : 'selectParent'}" value="#{exbiosanguineaHome.instance.ficha != null ? 'Change' : 'Select'} ficha"
                       view="/FichaList.xhtml">
                <f:param name="from" value="ExbiosanguineaEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
