<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <rich:panel>
        <f:facet name="header">Exbiosanguinea Details</f:facet>

        <s:decorate id="codbiosanguinea" template="layout/display.xhtml">
            <ui:define name="label">Codbiosanguinea</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.codbiosanguinea}"/>
        </s:decorate>

        <s:decorate id="dtregistro" template="layout/display.xhtml">
            <ui:define name="label">Dtregistro</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.dtregistro}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <s:decorate id="albumina" template="layout/display.xhtml">
            <ui:define name="label">Albumina</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.albumina}"/>
        </s:decorate>

        <s:decorate id="proteina" template="layout/display.xhtml">
            <ui:define name="label">Proteina</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.proteina}"/>
        </s:decorate>

        <s:decorate id="fibrinogenio" template="layout/display.xhtml">
            <ui:define name="label">Fibrinogenio</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.fibrinogenio}"/>
        </s:decorate>

        <s:decorate id="bilirtotal" template="layout/display.xhtml">
            <ui:define name="label">Bilirtotal</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.bilirtotal}"/>
        </s:decorate>

        <s:decorate id="bilirdireta" template="layout/display.xhtml">
            <ui:define name="label">Bilirdireta</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.bilirdireta}"/>
        </s:decorate>

        <s:decorate id="alt" template="layout/display.xhtml">
            <ui:define name="label">Alt</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.alt}"/>
        </s:decorate>

        <s:decorate id="ast" template="layout/display.xhtml">
            <ui:define name="label">Ast</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.ast}"/>
        </s:decorate>

        <s:decorate id="fosfalcalina" template="layout/display.xhtml">
            <ui:define name="label">Fosfalcalina</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.fosfalcalina}"/>
        </s:decorate>

        <s:decorate id="ureia" template="layout/display.xhtml">
            <ui:define name="label">Ureia</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.ureia}"/>
        </s:decorate>

        <s:decorate id="creatinina" template="layout/display.xhtml">
            <ui:define name="label">Creatinina</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.creatinina}"/>
        </s:decorate>

        <s:decorate id="glicemia" template="layout/display.xhtml">
            <ui:define name="label">Glicemia</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.glicemia}"/>
        </s:decorate>

        <s:decorate id="colesterol" template="layout/display.xhtml">
            <ui:define name="label">Colesterol</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.colesterol}"/>
        </s:decorate>

        <s:decorate id="obs" template="layout/display.xhtml">
            <ui:define name="label">Obs</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.obs}"/>
        </s:decorate>

        <s:decorate id="sodio" template="layout/display.xhtml">
            <ui:define name="label">Sodio</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.sodio}"/>
        </s:decorate>

        <s:decorate id="potassio" template="layout/display.xhtml">
            <ui:define name="label">Potassio</ui:define>
            <h:outputText value="#{exbiosanguineaHome.instance.potassio}"/>
        </s:decorate>

        <div style="clear:both"/>

    </rich:panel>

    <div class="actionButtons">

        <s:button view="/ExbiosanguineaEdit.xhtml"
                    id="edit"
                 value="Edit"/>

        <s:button view="/#{empty exbiosanguineaFrom ? 'ExbiosanguineaList' : exbiosanguineaFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab>
        <f:facet name="label">
            <h:panelGroup><h:graphicImage value="/img/manytoone.gif" style="vertical-align: middle; padding-right: 4px;"/>Ficha</h:panelGroup>
        </f:facet>
    <div class="association" id="fichaParent">

        <h:outputText value="There is no ficha associated with this exbiosanguinea."
                   rendered="#{exbiosanguineaHome.instance.ficha == null}"/>

        <rich:dataTable var="_ficha"
                   value="#{exbiosanguineaHome.instance.ficha}"
                rendered="#{exbiosanguineaHome.instance.ficha != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="fichaTable">
            <h:column>
                <f:facet name="header">Codficha</f:facet>
                <h:outputText value="#{_ficha.codficha}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Animal codanimal</f:facet>
                <h:outputText value="#{_ficha.animal.codanimal}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Anamnese</f:facet>
                <h:outputText value="#{_ficha.anamnese}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtretorno</f:facet>
                <h:outputText value="#{_ficha.dtretorno}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Diagnostico</f:facet>
                <h:outputText value="#{_ficha.diagnostico}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtregistro</f:facet>
                <h:outputText value="#{_ficha.dtregistro}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Peso</f:facet>
                <h:outputText value="#{_ficha.peso}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Solicitados</f:facet>
                <h:outputText value="#{_ficha.solicitados}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Receituario</f:facet>
                <h:outputText value="#{_ficha.receituario}"/>
            </h:column>
            <h:column styleClass="action">
                <f:facet name="header">Action</f:facet>
                <s:link id="viewficha"
                     value="View"
                      view="/Ficha.xhtml">
                    <f:param name="fichaCodficha"
                           value="#{_ficha.codficha}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
