<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="exfezes" styleClass="edit">

        <rich:panel>
            <f:facet name="header">#{exfezesHome.managed ? 'Edit' : 'Add'} Exfezes</f:facet>


            <!-- <s:decorate id="codexfezesField" template="layout/edit.xhtml">
                <ui:define name="label">Codexfezes</ui:define>
                <h:inputText id="codexfezes"
                       required="true"
                       disabled="#{exfezesHome.managed}"
                          value="#{exfezesHome.instance.codexfezes}">
                    <a:support event="onblur" reRender="codexfezesField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate> -->



            <s:decorate id="dtregistroField" template="layout/edit.xhtml">
                <ui:define name="label">Dtregistro</ui:define>
                <rich:calendar id="dtregistro"
                          value="#{exfezesHome.instance.dtregistro}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="resultadoField" template="layout/edit.xhtml">
                <ui:define name="label">Resultado</ui:define>
                <h:inputText id="resultado"
                           size="50"
                      maxlength="50"
                          value="#{exfezesHome.instance.resultado}">
                    <a:support event="onblur" reRender="resultadoField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="metodoField" template="layout/edit.xhtml">
                <ui:define name="label">Metodo</ui:define>
                <h:inputText id="metodo"
                           size="50"
                      maxlength="50"
                          value="#{exfezesHome.instance.metodo}">
                    <a:support event="onblur" reRender="metodoField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>

            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{exfezesHome.persist}"
                       disabled="#{!exfezesHome.wired}"
                       rendered="#{!exfezesHome.managed}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{exfezesHome.update}"
                       rendered="#{exfezesHome.managed}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{exfezesHome.remove}"
                      immediate="true"
                       rendered="#{exfezesHome.managed}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Exfezes.xhtml"
                rendered="#{exfezesHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty exfezesFrom ? 'ExfezesList' : exfezesFrom}.xhtml"
                rendered="#{!exfezesHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="Ficha *" labelClass="required">
    <div class="association" id="fichaParent">

        <h:outputText value="There is no ficha associated with this exfezes."
                   rendered="#{exfezesHome.instance.ficha == null}"/>

        <rich:dataTable var="_ficha"
                   value="#{exfezesHome.instance.ficha}"
                rendered="#{exfezesHome.instance.ficha != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="fichaTable">
            <h:column>
                <f:facet name="header">Codficha</f:facet>
                <h:outputText value="#{_ficha.codficha}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Animal codanimal</f:facet>
                <h:outputText value="#{_ficha.animal.codanimal}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Anamnese</f:facet>
                <h:outputText value="#{_ficha.anamnese}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtretorno</f:facet>
                <h:outputText value="#{_ficha.dtretorno}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Diagnostico</f:facet>
                <h:outputText value="#{_ficha.diagnostico}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtregistro</f:facet>
                <h:outputText value="#{_ficha.dtregistro}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Peso</f:facet>
                <h:outputText value="#{_ficha.peso}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Solicitados</f:facet>
                <h:outputText value="#{_ficha.solicitados}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Receituario</f:facet>
                <h:outputText value="#{_ficha.receituario}"/>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button id="#{exfezesHome.instance.ficha != null ? 'changeParent' : 'selectParent'}" value="#{exfezesHome.instance.ficha != null ? 'Change' : 'Select'} ficha"
                       view="/FichaList.xhtml">
                <f:param name="from" value="ExfezesEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
