<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

    <ui:define name="body">

        <h1>Seja bem vindo ao SISGECLIN!</h1>
        <rich:panel align="center">
            <h:panelGrid columns="2"><div align="center">
                <h:graphicImage value="/img/seamlogo2.png" alt="Seam logo"/>
                </div>
            </h:panelGrid>
        </rich:panel>

    </ui:define>
</ui:composition>
