<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="internacaoMedicamentoSearch" styleClass="edit">

        <rich:simpleTogglePanel label="InternacaoMedicamento Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Medicamento</ui:define>
                <h:inputText id="medicamento" value="#{internacaoMedicamentoList.internacaoMedicamento.medicamento}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Forma</ui:define>
                <h:inputText id="forma" value="#{internacaoMedicamentoList.internacaoMedicamento.forma}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{internacaoMedicamentoList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/InternacaoMedicamentoList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">InternacaoMedicamento Search Results (#{empty internacaoMedicamentoList.resultList ? 0 : (internacaoMedicamentoList.paginated ? internacaoMedicamentoList.resultCount : internacaoMedicamentoList.resultList.size)})</f:facet>
    <div class="results" id="internacaoMedicamentoList">

    <h:outputText value="The internacaoMedicamento search returned no results."
               rendered="#{empty internacaoMedicamentoList.resultList}"/>

    <rich:dataTable id="internacaoMedicamentoList"
                var="_internacaoMedicamento"
              value="#{internacaoMedicamentoList.resultList}"
           rendered="#{not empty internacaoMedicamentoList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Codinternacao medicamento"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.codinternacaoMedicamento"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.codinternacaoMedicamento}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Internacao codinternacao"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.internacao.codinternacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.internacao.codinternacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Medicamento"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.medicamento"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.medicamento}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Doses"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.doses"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.doses}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Forma"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.forma"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.forma}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Qtd"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.qtd"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.qtd}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Dias"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.dias"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.dias}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoMedicamentoList}"/>
                    <ui:param name="propertyLabel" value="Horarios"/>
                    <ui:param name="propertyPath" value="internacaoMedicamento.horarios"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacaoMedicamento.horarios}">
                <s:convertDateTime type="time"/>
            </h:outputText>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'InternacaoMedicamento' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="internacaoMedicamentoViewId">
                <f:param name="internacaoMedicamentoCodinternacaoMedicamento"
                        value="#{_internacaoMedicamento.codinternacaoMedicamento}"/>
            </s:link>
            #{' '}
            <s:link view="/InternacaoMedicamentoEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="internacaoMedicamentoEdit"
                rendered="#{empty from}">
                <f:param name="internacaoMedicamentoCodinternacaoMedicamento"
                        value="#{_internacaoMedicamento.codinternacaoMedicamento}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/InternacaoMedicamentoList.xhtml"
            rendered="#{internacaoMedicamentoList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/InternacaoMedicamentoList.xhtml"
            rendered="#{internacaoMedicamentoList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{internacaoMedicamentoList.previousFirstResult}"/>
        </s:link>

        <s:link view="/InternacaoMedicamentoList.xhtml"
            rendered="#{internacaoMedicamentoList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{internacaoMedicamentoList.nextFirstResult}"/>
        </s:link>

        <s:link view="/InternacaoMedicamentoList.xhtml"
            rendered="#{internacaoMedicamentoList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{internacaoMedicamentoList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/InternacaoMedicamentoEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create internacaoMedicamento">
            <f:param name="internacaoMedicamentoCodinternacaoMedicamento"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
