<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="internacao" styleClass="edit">

        <rich:panel>
            <f:facet name="header">#{internacaoHome.managed ? 'Edit' : 'Add'} Internacao</f:facet>


            <!-- <s:decorate id="codinternacaoField" template="layout/edit.xhtml">
                <ui:define name="label">Codinternacao</ui:define>
                <h:inputText id="codinternacao"
                       required="true"
                       disabled="#{internacaoHome.managed}"
                          value="#{internacaoHome.instance.codinternacao}">
                    <a:support event="onblur" reRender="codinternacaoField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate> -->



            <s:decorate id="obsField" template="layout/edit.xhtml">
                <ui:define name="label">Obs</ui:define>
                <h:inputTextarea id="obs"
                               cols="80"
                               rows="3"
                              value="#{internacaoHome.instance.obs}"/>
            </s:decorate>


            <s:decorate id="dtregistroField" template="layout/edit.xhtml">
                <ui:define name="label">Dtregistro</ui:define>
                <rich:calendar id="dtregistro"
                          value="#{internacaoHome.instance.dtregistro}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="estsaidaField" template="layout/edit.xhtml">
                <ui:define name="label">Estsaida</ui:define>
                <rich:calendar id="estsaida"
                          value="#{internacaoHome.instance.estsaida}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="datasaidaField" template="layout/edit.xhtml">
                <ui:define name="label">Datasaida</ui:define>
                <rich:calendar id="datasaida"
                          value="#{internacaoHome.instance.datasaida}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="vlchequeField" template="layout/edit.xhtml">
                <ui:define name="label">Vlcheque</ui:define>
                <h:inputText id="vlcheque"
                          value="#{internacaoHome.instance.vlcheque}">
                    <a:support event="onblur" reRender="vlchequeField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="datahorasaidaField" template="layout/edit.xhtml">
                <ui:define name="label">Datahorasaida</ui:define>
                <rich:calendar id="datahorasaida"
                          value="#{internacaoHome.instance.datahorasaida}" datePattern="MM/dd/yyyy" />
            </s:decorate>


            <s:decorate id="motivosaidaField" template="layout/edit.xhtml">
                <ui:define name="label">Motivosaida</ui:define>
                <h:inputText id="motivosaida"
                           size="50"
                      maxlength="50"
                          value="#{internacaoHome.instance.motivosaida}">
                    <a:support event="onblur" reRender="motivosaidaField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="obssaidaField" template="layout/edit.xhtml">
                <ui:define name="label">Obssaida</ui:define>
                <h:inputTextarea id="obssaida"
                               cols="80"
                               rows="3"
                              value="#{internacaoHome.instance.obssaida}"/>
            </s:decorate>


            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{internacaoHome.persist}"
                       disabled="#{!internacaoHome.wired}"
                       rendered="#{!internacaoHome.managed}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{internacaoHome.update}"
                       rendered="#{internacaoHome.managed}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{internacaoHome.remove}"
                      immediate="true"
                       rendered="#{internacaoHome.managed}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Internacao.xhtml"
                rendered="#{internacaoHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty internacaoFrom ? 'InternacaoList' : internacaoFrom}.xhtml"
                rendered="#{!internacaoHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="Ficha">
    <div class="association" id="fichaParent">

        <h:outputText value="There is no ficha associated with this internacao."
                   rendered="#{internacaoHome.instance.ficha == null}"/>

        <rich:dataTable var="_ficha"
                   value="#{internacaoHome.instance.ficha}"
                rendered="#{internacaoHome.instance.ficha != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="fichaTable">
            <h:column>
                <f:facet name="header">Codficha</f:facet>
                <h:outputText value="#{_ficha.codficha}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Animal codanimal</f:facet>
                <h:outputText value="#{_ficha.animal.codanimal}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Anamnese</f:facet>
                <h:outputText value="#{_ficha.anamnese}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtretorno</f:facet>
                <h:outputText value="#{_ficha.dtretorno}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Diagnostico</f:facet>
                <h:outputText value="#{_ficha.diagnostico}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtregistro</f:facet>
                <h:outputText value="#{_ficha.dtregistro}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Peso</f:facet>
                <h:outputText value="#{_ficha.peso}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Solicitados</f:facet>
                <h:outputText value="#{_ficha.solicitados}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Receituario</f:facet>
                <h:outputText value="#{_ficha.receituario}"/>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button id="#{internacaoHome.instance.ficha != null ? 'changeParent' : 'selectParent'}" value="#{internacaoHome.instance.ficha != null ? 'Change' : 'Select'} ficha"
                       view="/FichaList.xhtml">
                <f:param name="from" value="InternacaoEdit"/>
            </s:button>
        </div>

    </div>
    </rich:tab>

    <rich:tab label="Internacao medicamentos">
        <h:form styleClass="association" id="internacaoMedicamentosChildren">

            <h:outputText value="There are no internacaoMedicamentos associated with this internacao."
                       rendered="#{empty internacaoHome.internacaoMedicamentos}"/>

            <rich:dataTable value="#{internacaoHome.internacaoMedicamentos}"
                           var="_internacaoMedicamento"
                      rendered="#{not empty internacaoHome.internacaoMedicamentos}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="internacaoMedicamentosTable">
                <rich:column sortBy="#{_internacaoMedicamento.codinternacaoMedicamento}">
                    <f:facet name="header">Codinternacao medicamento</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.codinternacaoMedicamento}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.medicamento}">
                    <f:facet name="header">Medicamento</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.medicamento}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.doses}">
                    <f:facet name="header">Doses</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.doses}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.forma}">
                    <f:facet name="header">Forma</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.forma}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.qtd}">
                    <f:facet name="header">Qtd</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.qtd}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.dias}">
                    <f:facet name="header">Dias</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.dias}"/>
                </rich:column>
                <rich:column sortBy="#{_internacaoMedicamento.horarios}">
                    <f:facet name="header">Horarios</f:facet>
                    <h:outputText value="#{_internacaoMedicamento.horarios}">
                        <s:convertDateTime type="time"/>
                    </h:outputText>
                </rich:column>
            </rich:dataTable>

        </h:form>

        <f:subview rendered="#{internacaoHome.managed}" id="internacaoMedicamentos">
        <div class="actionButtons">
            <s:button id="addinternacaoMedicamento"
                   value="Add internacaoMedicamento"
                    view="/InternacaoMedicamentoEdit.xhtml"
             propagation="none">
                 <f:param name="internacaoCodinternacao"
                         value="#{internacaoHome.instance.codinternacao}"/>
                 <f:param name="internacaoMedicamentoFrom" value="Internacao"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
