<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="internacaoSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Internacao Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Obs</ui:define>
                <h:inputText id="obs" value="#{internacaoList.internacao.obs}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Motivosaida</ui:define>
                <h:inputText id="motivosaida" value="#{internacaoList.internacao.motivosaida}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Obssaida</ui:define>
                <h:inputText id="obssaida" value="#{internacaoList.internacao.obssaida}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{internacaoList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/InternacaoList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Internacao Search Results (#{empty internacaoList.resultList ? 0 : (internacaoList.paginated ? internacaoList.resultCount : internacaoList.resultList.size)})</f:facet>
    <div class="results" id="internacaoList">

    <h:outputText value="The internacao search returned no results."
               rendered="#{empty internacaoList.resultList}"/>

    <rich:dataTable id="internacaoList"
                var="_internacao"
              value="#{internacaoList.resultList}"
           rendered="#{not empty internacaoList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Codinternacao"/>
                    <ui:param name="propertyPath" value="internacao.codinternacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.codinternacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Ficha codficha"/>
                    <ui:param name="propertyPath" value="internacao.ficha.codficha"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.ficha.codficha}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Obs"/>
                    <ui:param name="propertyPath" value="internacao.obs"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.obs}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Dtregistro"/>
                    <ui:param name="propertyPath" value="internacao.dtregistro"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.dtregistro}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Estsaida"/>
                    <ui:param name="propertyPath" value="internacao.estsaida"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.estsaida}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Datasaida"/>
                    <ui:param name="propertyPath" value="internacao.datasaida"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.datasaida}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Vlcheque"/>
                    <ui:param name="propertyPath" value="internacao.vlcheque"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.vlcheque}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Datahorasaida"/>
                    <ui:param name="propertyPath" value="internacao.datahorasaida"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.datahorasaida}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Motivosaida"/>
                    <ui:param name="propertyPath" value="internacao.motivosaida"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.motivosaida}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{internacaoList}"/>
                    <ui:param name="propertyLabel" value="Obssaida"/>
                    <ui:param name="propertyPath" value="internacao.obssaida"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_internacao.obssaida}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Internacao' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="internacaoViewId">
                <f:param name="internacaoCodinternacao"
                        value="#{_internacao.codinternacao}"/>
            </s:link>
            #{' '}
            <s:link view="/InternacaoEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="internacaoEdit"
                rendered="#{empty from}">
                <f:param name="internacaoCodinternacao"
                        value="#{_internacao.codinternacao}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/InternacaoList.xhtml"
            rendered="#{internacaoList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/InternacaoList.xhtml"
            rendered="#{internacaoList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{internacaoList.previousFirstResult}"/>
        </s:link>

        <s:link view="/InternacaoList.xhtml"
            rendered="#{internacaoList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{internacaoList.nextFirstResult}"/>
        </s:link>

        <s:link view="/InternacaoList.xhtml"
            rendered="#{internacaoList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{internacaoList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/InternacaoEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create internacao">
            <f:param name="internacaoCodinternacao"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
