<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="pelagemSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Pelagem Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Pelagem</ui:define>
                <h:inputText id="pelagem" value="#{pelagemList.pelagem.pelagem}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{pelagemList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/PelagemList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Pelagem Search Results (#{empty pelagemList.resultList ? 0 : (pelagemList.paginated ? pelagemList.resultCount : pelagemList.resultList.size)})</f:facet>
    <div class="results" id="pelagemList">

    <h:outputText value="The pelagem search returned no results."
               rendered="#{empty pelagemList.resultList}"/>

    <rich:dataTable id="pelagemList"
                var="_pelagem"
              value="#{pelagemList.resultList}"
           rendered="#{not empty pelagemList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{pelagemList}"/>
                    <ui:param name="propertyLabel" value="Codpelagem"/>
                    <ui:param name="propertyPath" value="pelagem.codpelagem"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_pelagem.codpelagem}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{pelagemList}"/>
                    <ui:param name="propertyLabel" value="Pelagem"/>
                    <ui:param name="propertyPath" value="pelagem.pelagem"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_pelagem.pelagem}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Pelagem' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="pelagemViewId">
                <f:param name="pelagemCodpelagem"
                        value="#{_pelagem.codpelagem}"/>
            </s:link>
            #{' '}
            <s:link view="/PelagemEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="pelagemEdit"
                rendered="#{empty from}">
                <f:param name="pelagemCodpelagem"
                        value="#{_pelagem.codpelagem}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/PelagemList.xhtml"
            rendered="#{pelagemList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/PelagemList.xhtml"
            rendered="#{pelagemList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{pelagemList.previousFirstResult}"/>
        </s:link>

        <s:link view="/PelagemList.xhtml"
            rendered="#{pelagemList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{pelagemList.nextFirstResult}"/>
        </s:link>

        <s:link view="/PelagemList.xhtml"
            rendered="#{pelagemList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{pelagemList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/PelagemEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create pelagem">
            <f:param name="pelagemCodpelagem"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
