<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="tiporetornovacinacaoSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Tiporetornovacinacao Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Retorno</ui:define>
                <h:inputText id="retorno" value="#{tiporetornovacinacaoList.tiporetornovacinacao.retorno}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{tiporetornovacinacaoList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/TiporetornovacinacaoList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Tiporetornovacinacao Search Results (#{empty tiporetornovacinacaoList.resultList ? 0 : (tiporetornovacinacaoList.paginated ? tiporetornovacinacaoList.resultCount : tiporetornovacinacaoList.resultList.size)})</f:facet>
    <div class="results" id="tiporetornovacinacaoList">

    <h:outputText value="The tiporetornovacinacao search returned no results."
               rendered="#{empty tiporetornovacinacaoList.resultList}"/>

    <rich:dataTable id="tiporetornovacinacaoList"
                var="_tiporetornovacinacao"
              value="#{tiporetornovacinacaoList.resultList}"
           rendered="#{not empty tiporetornovacinacaoList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{tiporetornovacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Codtiporetornovacinacao"/>
                    <ui:param name="propertyPath" value="tiporetornovacinacao.codtiporetornovacinacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_tiporetornovacinacao.codtiporetornovacinacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{tiporetornovacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Retorno"/>
                    <ui:param name="propertyPath" value="tiporetornovacinacao.retorno"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_tiporetornovacinacao.retorno}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{tiporetornovacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Dias"/>
                    <ui:param name="propertyPath" value="tiporetornovacinacao.dias"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_tiporetornovacinacao.dias}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Tiporetornovacinacao' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="tiporetornovacinacaoViewId">
                <f:param name="tiporetornovacinacaoCodtiporetornovacinacao"
                        value="#{_tiporetornovacinacao.codtiporetornovacinacao}"/>
            </s:link>
            #{' '}
            <s:link view="/TiporetornovacinacaoEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="tiporetornovacinacaoEdit"
                rendered="#{empty from}">
                <f:param name="tiporetornovacinacaoCodtiporetornovacinacao"
                        value="#{_tiporetornovacinacao.codtiporetornovacinacao}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/TiporetornovacinacaoList.xhtml"
            rendered="#{tiporetornovacinacaoList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/TiporetornovacinacaoList.xhtml"
            rendered="#{tiporetornovacinacaoList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{tiporetornovacinacaoList.previousFirstResult}"/>
        </s:link>

        <s:link view="/TiporetornovacinacaoList.xhtml"
            rendered="#{tiporetornovacinacaoList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{tiporetornovacinacaoList.nextFirstResult}"/>
        </s:link>

        <s:link view="/TiporetornovacinacaoList.xhtml"
            rendered="#{tiporetornovacinacaoList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{tiporetornovacinacaoList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/TiporetornovacinacaoEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create tiporetornovacinacao">
            <f:param name="tiporetornovacinacaoCodtiporetornovacinacao"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
