<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="tiporetornovacinacao" styleClass="edit">

        <rich:panel>
            <f:facet name="header">#{tiporetornovacinacaoHome.managed ? 'Edit' : 'Add'} Tiporetornovacinacao</f:facet>


            <!-- <s:decorate id="codtiporetornovacinacaoField" template="layout/edit.xhtml">
                <ui:define name="label">Codtiporetornovacinacao</ui:define>
                <h:inputText id="codtiporetornovacinacao"
                       required="true"
                       disabled="#{tiporetornovacinacaoHome.managed}"
                          value="#{tiporetornovacinacaoHome.instance.codtiporetornovacinacao}">
                    <a:support event="onblur" reRender="codtiporetornovacinacaoField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate> -->


            <s:decorate id="retornoField" template="layout/edit.xhtml">
                <ui:define name="label">Retorno</ui:define>
                <h:inputText id="retorno"
                           size="50"
                      maxlength="50"
                          value="#{tiporetornovacinacaoHome.instance.retorno}">
                    <a:support event="onblur" reRender="retornoField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <s:decorate id="diasField" template="layout/edit.xhtml">
                <ui:define name="label">Dias</ui:define>
                <h:inputText id="dias"
                          value="#{tiporetornovacinacaoHome.instance.dias}">
                    <a:support event="onblur" reRender="diasField" bypassUpdates="true" ajaxSingle="true"/>
                </h:inputText>
            </s:decorate>


            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Save"
                         action="#{tiporetornovacinacaoHome.persist}"
                       disabled="#{!tiporetornovacinacaoHome.wired}"
                       rendered="#{!tiporetornovacinacaoHome.managed}"/>

            <h:commandButton id="update"
                          value="Save"
                         action="#{tiporetornovacinacaoHome.update}"
                       rendered="#{tiporetornovacinacaoHome.managed}"/>

            <h:commandButton id="delete"
                          value="Delete"
                         action="#{tiporetornovacinacaoHome.remove}"
                      immediate="true"
                       rendered="#{tiporetornovacinacaoHome.managed}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Tiporetornovacinacao.xhtml"
                rendered="#{tiporetornovacinacaoHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty tiporetornovacinacaoFrom ? 'TiporetornovacinacaoList' : tiporetornovacinacaoFrom}.xhtml"
                rendered="#{!tiporetornovacinacaoHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="Vacinas">
        <h:form styleClass="association" id="vacinasChildren">

            <h:outputText value="There are no vacinas associated with this tiporetornovacinacao."
                       rendered="#{empty tiporetornovacinacaoHome.vacinas}"/>

            <rich:dataTable value="#{tiporetornovacinacaoHome.vacinas}"
                           var="_vacina"
                      rendered="#{not empty tiporetornovacinacaoHome.vacinas}"
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="vacinasTable">
                <rich:column sortBy="#{_vacina.codvacinas}">
                    <f:facet name="header">Codvacinas</f:facet>
                    <h:outputText value="#{_vacina.codvacinas}"/>
                </rich:column>
                <rich:column sortBy="#{_vacina.nomevacina}">
                    <f:facet name="header">Nomevacina</f:facet>
                    <h:outputText value="#{_vacina.nomevacina}"/>
                </rich:column>
                <rich:column sortBy="#{_vacina.retorno}">
                    <f:facet name="header">Retorno</f:facet>
                    <h:outputText value="#{_vacina.retorno}"/>
                </rich:column>
                <rich:column sortBy="#{_vacina.doses}">
                    <f:facet name="header">Doses</f:facet>
                    <h:outputText value="#{_vacina.doses}"/>
                </rich:column>
                <rich:column sortBy="#{_vacina.proximavacina}">
                    <f:facet name="header">Proximavacina</f:facet>
                    <h:outputText value="#{_vacina.proximavacina}"/>
                </rich:column>
            </rich:dataTable>

        </h:form>

        <f:subview rendered="#{tiporetornovacinacaoHome.managed}" id="vacinas">
        <div class="actionButtons">
            <s:button id="addvacina"
                   value="Add vacina"
                    view="/VacinaEdit.xhtml"
             propagation="none">
                 <f:param name="tiporetornovacinacaoCodtiporetornovacinacao"
                         value="#{tiporetornovacinacaoHome.instance.codtiporetornovacinacao}"/>
                 <f:param name="vacinaFrom" value="Tiporetornovacinacao"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
