<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="vacinaSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Vacina Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Nomevacina</ui:define>
                <h:inputText id="nomevacina" value="#{vacinaList.vacina.nomevacina}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{vacinaList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/VacinaList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Vacina Search Results (#{empty vacinaList.resultList ? 0 : (vacinaList.paginated ? vacinaList.resultCount : vacinaList.resultList.size)})</f:facet>
    <div class="results" id="vacinaList">

    <h:outputText value="The vacina search returned no results."
               rendered="#{empty vacinaList.resultList}"/>

    <rich:dataTable id="vacinaList"
                var="_vacina"
              value="#{vacinaList.resultList}"
           rendered="#{not empty vacinaList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Codvacinas"/>
                    <ui:param name="propertyPath" value="vacina.codvacinas"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.codvacinas}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Vacinacao codvacinacao"/>
                    <ui:param name="propertyPath" value="vacina.vacinacao.codvacinacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.vacinacao.codvacinacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Tiporetornovacinacao codtiporetornovacinacao"/>
                    <ui:param name="propertyPath" value="vacina.tiporetornovacinacao.codtiporetornovacinacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.tiporetornovacinacao.codtiporetornovacinacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Nomevacina"/>
                    <ui:param name="propertyPath" value="vacina.nomevacina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.nomevacina}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Retorno"/>
                    <ui:param name="propertyPath" value="vacina.retorno"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.retorno}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Doses"/>
                    <ui:param name="propertyPath" value="vacina.doses"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.doses}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinaList}"/>
                    <ui:param name="propertyLabel" value="Proximavacina"/>
                    <ui:param name="propertyPath" value="vacina.proximavacina"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacina.proximavacina}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Vacina' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="vacinaViewId">
                <f:param name="vacinaCodvacinas"
                        value="#{_vacina.codvacinas}"/>
            </s:link>
            #{' '}
            <s:link view="/VacinaEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="vacinaEdit"
                rendered="#{empty from}">
                <f:param name="vacinaCodvacinas"
                        value="#{_vacina.codvacinas}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/VacinaList.xhtml"
            rendered="#{vacinaList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/VacinaList.xhtml"
            rendered="#{vacinaList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{vacinaList.previousFirstResult}"/>
        </s:link>

        <s:link view="/VacinaList.xhtml"
            rendered="#{vacinaList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{vacinaList.nextFirstResult}"/>
        </s:link>

        <s:link view="/VacinaList.xhtml"
            rendered="#{vacinaList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{vacinaList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/VacinaEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create vacina">
            <f:param name="vacinaCodvacinas"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
