<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <rich:panel>
        <f:facet name="header">Vacinacao Details</f:facet>

        <s:decorate id="codvacinacao" template="layout/display.xhtml">
            <ui:define name="label">Codvacinacao</ui:define>
            <h:outputText value="#{vacinacaoHome.instance.codvacinacao}"/>
        </s:decorate>

        <s:decorate id="nomelaboratorio" template="layout/display.xhtml">
            <ui:define name="label">Nomelaboratorio</ui:define>
            <h:outputText value="#{vacinacaoHome.instance.nomelaboratorio}"/>
        </s:decorate>

        <s:decorate id="dtvacinacao" template="layout/display.xhtml">
            <ui:define name="label">Dtvacinacao</ui:define>
            <h:outputText value="#{vacinacaoHome.instance.dtvacinacao}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <s:decorate id="lote" template="layout/display.xhtml">
            <ui:define name="label">Lote</ui:define>
            <h:outputText value="#{vacinacaoHome.instance.lote}"/>
        </s:decorate>

        <s:decorate id="retornou" template="layout/display.xhtml">
            <ui:define name="label">Retornou</ui:define>
            <h:outputText value="#{vacinacaoHome.instance.retornou}"/>
        </s:decorate>

        <div style="clear:both"/>

    </rich:panel>

    <div class="actionButtons">

        <s:button view="/VacinacaoEdit.xhtml"
                    id="edit"
                 value="Edit"/>

        <s:button view="/#{empty vacinacaoFrom ? 'VacinacaoList' : vacinacaoFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab>
        <f:facet name="label">
            <h:panelGroup><h:graphicImage value="/img/manytoone.gif" style="vertical-align: middle; padding-right: 4px;"/>Ficha</h:panelGroup>
        </f:facet>
    <div class="association" id="fichaParent">

        <h:outputText value="There is no ficha associated with this vacinacao."
                   rendered="#{vacinacaoHome.instance.ficha == null}"/>

        <rich:dataTable var="_ficha"
                   value="#{vacinacaoHome.instance.ficha}"
                rendered="#{vacinacaoHome.instance.ficha != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="fichaTable">
            <h:column>
                <f:facet name="header">Codficha</f:facet>
                <h:outputText value="#{_ficha.codficha}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Animal codanimal</f:facet>
                <h:outputText value="#{_ficha.animal.codanimal}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Anamnese</f:facet>
                <h:outputText value="#{_ficha.anamnese}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtretorno</f:facet>
                <h:outputText value="#{_ficha.dtretorno}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Diagnostico</f:facet>
                <h:outputText value="#{_ficha.diagnostico}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Dtregistro</f:facet>
                <h:outputText value="#{_ficha.dtregistro}">
                    <s:convertDateTime type="date" dateStyle="short"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Peso</f:facet>
                <h:outputText value="#{_ficha.peso}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Solicitados</f:facet>
                <h:outputText value="#{_ficha.solicitados}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Receituario</f:facet>
                <h:outputText value="#{_ficha.receituario}"/>
            </h:column>
            <h:column styleClass="action">
                <f:facet name="header">Action</f:facet>
                <s:link id="viewficha"
                     value="View"
                      view="/Ficha.xhtml">
                    <f:param name="fichaCodficha"
                           value="#{_ficha.codficha}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

    </div>
    </rich:tab>

    <rich:tab>
        <f:facet name="label">
            <h:panelGroup><h:graphicImage value="/img/onetomany.gif" style="vertical-align: middle; padding-right: 4px;"/>Vacinas</h:panelGroup>
        </f:facet>
    <h:form styleClass="association" id="vacinasChildren">

        <h:outputText value="There are no vacinas associated with this vacinacao."
                   rendered="#{empty vacinacaoHome.vacinas}"/>

        <rich:dataTable value="#{vacinacaoHome.vacinas}"
                       var="_vacina"
                  rendered="#{not empty vacinacaoHome.vacinas}"
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="vacinasTable">
            <rich:column sortBy="#{_vacina.codvacinas}">
                <f:facet name="header">Codvacinas</f:facet>
                <h:outputText value="#{_vacina.codvacinas}"/>
            </rich:column>
            <rich:column sortBy="#{_vacina.nomevacina}">
                <f:facet name="header">Nomevacina</f:facet>
                <h:outputText value="#{_vacina.nomevacina}"/>
            </rich:column>
            <rich:column sortBy="#{_vacina.retorno}">
                <f:facet name="header">Retorno</f:facet>
                <h:outputText value="#{_vacina.retorno}"/>
            </rich:column>
            <rich:column sortBy="#{_vacina.doses}">
                <f:facet name="header">Doses</f:facet>
                <h:outputText value="#{_vacina.doses}"/>
            </rich:column>
            <rich:column sortBy="#{_vacina.proximavacina}">
                <f:facet name="header">Proximavacina</f:facet>
                <h:outputText value="#{_vacina.proximavacina}"/>
            </rich:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <s:link id="selectvacina"
                     value="Select"
                      view="/Vacina.xhtml">
                    <f:param name="vacinaCodvacinas"
                            value="#{_vacina.codvacinas}"/>
                    <f:param name="vacinaFrom" value="Vacinacao"/>
                </s:link>
            </h:column>
        </rich:dataTable>

    </h:form>

    <div class="actionButtons">
        <s:button
               value="Add vacina"
                view="/VacinaEdit.xhtml">
            <f:param name="vacinacaoCodvacinacao"
                    value="#{vacinacaoHome.instance.codvacinacao}"/>
            <f:param name="vacinaFrom" value="Vacinacao"/>
        </s:button>
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
