<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="vacinacaoSearch" styleClass="edit">

        <rich:simpleTogglePanel label="Vacinacao Search Filter" switchType="ajax">

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Nomelaboratorio</ui:define>
                <h:inputText id="nomelaboratorio" value="#{vacinacaoList.vacinacao.nomelaboratorio}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Lote</ui:define>
                <h:inputText id="lote" value="#{vacinacaoList.vacinacao.lote}"/>
            </s:decorate>

            <s:decorate template="layout/display.xhtml">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{vacinacaoList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/VacinacaoList.xhtml"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
        </div>

    </h:form>

    <rich:panel>
        <f:facet name="header">Vacinacao Search Results (#{empty vacinacaoList.resultList ? 0 : (vacinacaoList.paginated ? vacinacaoList.resultCount : vacinacaoList.resultList.size)})</f:facet>
    <div class="results" id="vacinacaoList">

    <h:outputText value="The vacinacao search returned no results."
               rendered="#{empty vacinacaoList.resultList}"/>

    <rich:dataTable id="vacinacaoList"
                var="_vacinacao"
              value="#{vacinacaoList.resultList}"
           rendered="#{not empty vacinacaoList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Codvacinacao"/>
                    <ui:param name="propertyPath" value="vacinacao.codvacinacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.codvacinacao}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Ficha codficha"/>
                    <ui:param name="propertyPath" value="vacinacao.ficha.codficha"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.ficha.codficha}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Nomelaboratorio"/>
                    <ui:param name="propertyPath" value="vacinacao.nomelaboratorio"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.nomelaboratorio}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Dtvacinacao"/>
                    <ui:param name="propertyPath" value="vacinacao.dtvacinacao"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.dtvacinacao}">
                <s:convertDateTime type="date" dateStyle="short"/>
            </h:outputText>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Lote"/>
                    <ui:param name="propertyPath" value="vacinacao.lote"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.lote}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{vacinacaoList}"/>
                    <ui:param name="propertyLabel" value="Retornou"/>
                    <ui:param name="propertyPath" value="vacinacao.retornou"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_vacinacao.retornou}"/>
        </h:column>
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Vacinacao' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="vacinacaoViewId">
                <f:param name="vacinacaoCodvacinacao"
                        value="#{_vacinacao.codvacinacao}"/>
            </s:link>
            #{' '}
            <s:link view="/VacinacaoEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="vacinacaoEdit"
                rendered="#{empty from}">
                <f:param name="vacinacaoCodvacinacao"
                        value="#{_vacinacao.codvacinacao}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/VacinacaoList.xhtml"
            rendered="#{vacinacaoList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/VacinacaoList.xhtml"
            rendered="#{vacinacaoList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{vacinacaoList.previousFirstResult}"/>
        </s:link>

        <s:link view="/VacinacaoList.xhtml"
            rendered="#{vacinacaoList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{vacinacaoList.nextFirstResult}"/>
        </s:link>

        <s:link view="/VacinacaoList.xhtml"
            rendered="#{vacinacaoList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{vacinacaoList.lastFirstResult}"/>
        </s:link>

    </div>

    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/VacinacaoEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create vacinacao">
            <f:param name="vacinacaoCodvacinacao"/>
        </s:button>
    </s:div>

</ui:define>

</ui:composition>
